<div class="m-comments__form">
    <div class="large-6 columns">
      <label><h4>Add your voice to the story</h4>
        <textarea placeholder=""></textarea>
      </label>
      <a href="#" class="button">Post</a>
    </div>
  </div>