<div class="m-comment-actions">
  <div class="icon-bar three-up">
    <a class="item">
      <i class="fi-quote"></i>
    </a>
    <a class="item">
      <i class="fi-page-multiple"></i>
    </a>
    <a class="item">
      <i class="fi-comment-quotes"></i>
    </a>
  </div>
</div>