<div class="row m-header">
  <div class="large-9 columns">
    <h1 class= "hed">How Manchester United can improve their attack</h3>
  </div>
</div>

<div class="row m-header">
  <div class="large-9 columns" role="content">
    <img class="m-lead-image" src="https://cdn3.vox-cdn.com/thumbor/9v-2dEsEiCTkMeLsW_HhxG3eIhU=/0x218:3500x2187/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/47654089/GettyImages-493643888.0.jpg" />
    <h5 class= "byline">Written by <a href="#">Brent Maximin</a> on Nov 13, 2015, 5:26a.</h5>
  </div>
</div>

<div class="row m-body">
  <div class="large-9 columns" role="content">
    <article>
        <p>There are many words that can be used to describe the experience of watching <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/teams/manchester-united" data-ref-index="3">Manchester United</a> this season, most of them vulgar. The kindest among us would describe Louis van Gaal's side as "solid" or even "dull." More accurate descriptors would include: "constipated," "mind-numbingly boring," or "shit on a stick football." The match-going supporters have lately begun airing their grievances over the on-pitch product, and even the manager himself <a href="http://thebusbybabe.sbnation.com/2015/11/9/9695366/louis-van-gaal-wants-new-players-to-speed-up-manchester-united" data-ref-index="4">has admitted</a> that his side lack pace in attack. With the defense seemingly sorted out, here are some possible solutions to United's broken attack.</p>

        <h6 class="subhed">
          Bin Rooney, Pt. 1: <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/249448/ander-herrera" data-ref-index="5">Ander Herrera</a> at 10
        </h6>

        <p><a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/110226/wayne-rooney" data-ref-index="6">Wayne Rooney</a> has become a shell of the player he was, and any criticism of him at this point is only pointing out the obvious. His two most recent displays have been just below average rather than shocking, but the United captain is too often the poorest player on the pitch. Ander Herrera is probably best used elsewhere, but he has qualities that make him an appealing option at the number 10 position. He is a very willing runner on both sides of the ball, he has an eye for goal, and his link up play with <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/141784/juan-mata" data-ref-index="7">Juan Mata</a> in particular usually proves fruitful. Herrera's advantage in mobility when compared to Rooney also has the added advantage of reducing the number of chances that United concedes after Rooney loses possession and is unable to chase back.</p>

        <h6 class="subhed">
          Bin Rooney, Pt. 2: Juan Mata Plus Pace
        </h6>

        <p>For reasons that are unclear to anyone but van Gaal himself, Juan Mata has rarely been deployed in his favored central attacking position. The little Spaniard may share Rooney's lack of pace, but he does possess a speed of thought and creative vision to make up for it. Mata's goal and assist output has been highly impressive from his current role cutting in from the right, and he is arguably the most natural fit for the number 10 role in van Gaal's preferred 4-2-3-1 formation. Surrounding Mata with pace would allow him to use his vision and passing to unlock defenses, and adding another winger to the attack would also reduce the reliance on the the current non-specialist full-backs to provide width.</p>

        <div class="article-content">
          <div class="testimonial-wrap">
            <div class="row">
              <div class="join">Join the conversation</div>
                <div class="comment-button">&rarr;</div>
              <div class="small-1 large-1 columns testimonial">
                <div class="quote-marks">&#8220;</div>
              </div>
              <div class="small-11 large-11 columns testimonial">
                <div class="quote">
                  <p>I think a bit of tactical flexibility would be a breath of fresh air</p>
                </div>
                <div class="student">
                  <div class="photo"> </div>
                  <p>JG11</p>
                  <p>Story commenter</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p>The problem with this solution, however, is the lack of appealing options for that other wide position that Mata would vacate. Both Anthony Martial and <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/149679/jesse-lingard" data-ref-index="8">Jesse Lingard</a> have shown the pace and intelligence of movement to benefit from having a proper playmaker in the playmaker's role, but who could realistically fill the last spot in the attack? Memphis Depay would be the obvious choice, but the youngster has been in abominable form. <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/112213/ashley-young" data-ref-index="9">Ashley Young</a> is - quite remarkably - now the first or second choice right-back, as well as the second-choice left-back. And both James Wilson and Andrea Pereira would be square pegs in round holes if asked to play out wide.</p>

        <h6 class="subhed">
          Change of Formation
        </h6>

        <p>United has conceded the fewest goals in the league this season, and much of that can be attributed to the superb defensive organization of the team. With the mobility and physicality of <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/246422/morgan-schneiderlin" data-ref-index="10">Morgan Schneiderlin</a>, and the measured protection of <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/110271/bastian-schweinsteiger" data-ref-index="11">Bastian Schweinsteiger</a>, the Reds' backline has as good a shield as at any time in the last several years. Playing with this double pivot is a big part of why United is so adept at suffocating teams and dominating possession. But what has been gained in solidity and control, has been lost in adventure. Neither Schweinsteiger nor Schneiderlin (nor the increasingly immobile <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/110215/michael-carrick" data-ref-index="12">Michael Carrick</a>) are prone to unlock defenses from their deep-lying role. A case can be made that - against most teams, at least - there is little need for two holding midfielders. Replacing Schweinsteiger with Herrera (and effectively switching to a 4-1-4-1 in the process) would remove some of that midfield protection that has served the defense so well, but it does add another player who is likely to break into the box and take risks in possession.</p>

        <h6 class="subhed">
          Bin Van Gaal
        </h6>

          <p>This may not be a realistic immediate solution to the team's current dull displays, but replacing van Gaal with a less risk-averse manager may be the most straightforward fix. United has become a very difficult team to beat, but little else. Van Gaal claims to want his team to play attacking football, but there's little in his recent history to suggest anything other than a once progressive manager who has become far more conservative in his old age. The Dutchman has done an admirable job of rebuilding the squad, and clearing out most of the dead wood. For all the fans' complaints, there is the making of a very good United team within the current personnel. Perhaps the easiest way to kickstart the emergence of that team is to hire a manager who will finally lift the shackles.</p>
      </div>
    </article>
    <hr/>
</div>

<%= partial "comments" %>
<div class="m-switch">
  <div class="switch round">
    <input id="on-off" type="checkbox">
    <label for="on-off">
      <span class="switch-on">ON</span>
      <span class="switch-off">OFF</span>
    </label>
  </div>
</div>