---
title: SNDMakes ATX Sphere Prototype
---

<section class="m-header">
  <h1 class="m-header__title">
    This is a story headline
  </h1>

  <p class="m-header__byline">

  </p>

</section>

<img class="m-lead-image" src="https://cdn3.vox-cdn.com/thumbor/9v-2dEsEiCTkMeLsW_HhxG3eIhU=/0x218:3500x2187/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/47654089/GettyImages-493643888.0.jpg" />

<section class="m-body">


    <p dir="ltr" id="paragraph0" class="pgh-paragraph has-dropcap">There are many words that can be used to describe the experience of watching <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/teams/manchester-united" data-ref-index="3">Manchester United</a> this season, most of them vulgar. The kindest among us would describe Louis van Gaal's side as "solid" or even "dull." More accurate descriptors would include: "constipated," "mind-numbingly boring," or "shit on a stick football." The match-going supporters have lately begun airing their grievances over the on-pitch product, and even the manager himself <a href="http://thebusbybabe.sbnation.com/2015/11/9/9695366/louis-van-gaal-wants-new-players-to-speed-up-manchester-united" data-ref-index="4">has admitted</a> that his side lack pace in attack. With the defense seemingly sorted out, here are some possible solutions to United's broken attack.</p>
<p dir="ltr" id="paragraph1" class="pgh-paragraph"><b>Bin Rooney, Pt. 1: <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/249448/ander-herrera" data-ref-index="5">Ander Herrera</a> at 10</b></p>


<p dir="ltr" id="paragraph2" class="pgh-paragraph"><a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/110226/wayne-rooney" data-ref-index="6">Wayne Rooney</a> has become a shell of the player he was, and any criticism of him at this point is only pointing out the obvious. His two most recent displays have been just below average rather than shocking, but the United captain is too often the poorest player on the pitch. Ander Herrera is probably best used elsewhere, but he has qualities that make him an appealing option at the number 10 position. He is a very willing runner on both sides of the ball, he has an eye for goal, and his link up play with <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/141784/juan-mata" data-ref-index="7">Juan Mata</a> in particular usually proves fruitful. Herrera's advantage in mobility when compared to Rooney also has the added advantage of reducing the number of chances that United concedes after Rooney loses possession and is unable to chase back.</p>
<p dir="ltr" id="paragraph3" class="pgh-paragraph"><b>Bin Rooney, Pt. 2: Juan Mata Plus Pace</b></p>
<p dir="ltr" id="paragraph4" class="pgh-paragraph">For reasons that are unclear to anyone but van Gaal himself, Juan Mata has rarely been deployed in his favored central attacking position. The little Spaniard may share Rooney's lack of pace, but he does possess a speed of thought and creative vision to make up for it. Mata's goal and assist output has been highly impressive from his current role cutting in from the right, and he is arguably the most natural fit for the number 10 role in van Gaal's preferred 4-2-3-1 formation. Surrounding Mata with pace would allow him to use his vision and passing to unlock defenses, and adding another winger to the attack would also reduce the reliance on the the current non-specialist full-backs to provide width.</p>
<p dir="ltr" id="paragraph5" class="pgh-paragraph">The problem with this solution, however, is the lack of appealing options for that other wide position that Mata would vacate. Both Anthony Martial and <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/149679/jesse-lingard" data-ref-index="8">Jesse Lingard</a> have shown the pace and intelligence of movement to benefit from having a proper playmaker in the playmaker's role, but who could realistically fill the last spot in the attack? Memphis Depay would be the obvious choice, but the youngster has been in abominable form. <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/112213/ashley-young" data-ref-index="9">Ashley Young</a> is - quite remarkably - now the first or second choice right-back, as well as the second-choice left-back. And both James Wilson and Andrea Pereira would be square pegs in round holes if asked to play out wide.</p>
<p dir="ltr" id="paragraph6" class="pgh-paragraph"><b>Change of Formation</b></p>
<p dir="ltr" id="paragraph7" class="pgh-paragraph">United has conceded the fewest goals in the league this season, and much of that can be attributed to the superb defensive organization of the team. With the mobility and physicality of <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/246422/morgan-schneiderlin" data-ref-index="10">Morgan Schneiderlin</a>, and the measured protection of <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/110271/bastian-schweinsteiger" data-ref-index="11">Bastian Schweinsteiger</a>, the Reds' backline has as good a shield as at any time in the last several years. Playing with this double pivot is a big part of why United is so adept at suffocating teams and dominating possession. But what has been gained in solidity and control, has been lost in adventure. Neither Schweinsteiger nor Schneiderlin (nor the increasingly immobile <a class="sbn-auto-link" href="http://www.sbnation.com/soccer/epl/players/110215/michael-carrick" data-ref-index="12">Michael Carrick</a>) are prone to unlock defenses from their deep-lying role. A case can be made that - against most teams, at least - there is little need for two holding midfielders. Replacing Schweinsteiger with Herrera (and effectively switching to a 4-1-4-1 in the process) would remove some of that midfield protection that has served the defense so well, but it does add another player who is likely to break into the box and take risks in possession.</p>


<p dir="ltr" id="paragraph8" class="pgh-paragraph"><b>Bin Van Gaal</b></p>
<p id="paragraph9" class="pgh-paragraph">This may not be a realistic immediate solution to the team's current dull displays, but replacing van Gaal with a less risk-averse manager may be the most straightforward fix. United has become a very difficult team to beat, but little else. Van Gaal claims to want his team to play attacking football, but there's little in his recent history to suggest anything other than a once progressive manager who has become far more conservative in his old age. The Dutchman has done an admirable job of rebuilding the squad, and clearing out most of the dead wood. For all the fans' complaints, there is the making of a very good United team within the current personnel. Perhaps the easiest way to kickstart the emergence of that team is to hire a manager who will finally lift the shackles.</p>


</section>

<section class="m-comments">

<div id="comments" class="comments_wrapper "><div class="comments-header ui-state-loaded">



</div><div id="comments_list" class="comment_master_list"><div id="339602267" class="citem cdepth-1">
  <div class="comment">

      <a href="http://www.sbnation.com/users/Winning%20XI" target="_blank" class="avatar">
        <img src="https://cdn2.vox-cdn.com/profile_images/3287808/BmPTW-PCIAAMpKc_small.jpg" alt="Winning XI">
      </a>


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        I definitely agree on


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>the 4-1-4-1 formation. We definitely unlocked a lot of defenses in those string of games last season. (With the midfield three of Fellaini, Carrick and Herrera) For some reason those three truly balanced each other out because they all had three different roles that somehow worked out so well. With our current squad, I would love to see a midfield trio of Schneiderlin, Herrera/Mata, and rotate Carrick/Schweinsteiger (whoever is more fit) as the single pivot.</p>
    </div>


    <div class="meta">

        by <a href="http://www.sbnation.com/users/Winning%20XI" class="poster" target="_blank">Winning XI</a>





        on <a href="#339602267" class="date">Nov 13, 2015 |  6:09 AM</a>

      <span class="user_actions">







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div><div id="339613101" class="citem cdepth-2">
  <div class="comment">


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        I think given our current roster make up


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>The formation switch would probably be more effective. We have been praising our defense, and I’ve been gloating about Schneiderlin the whole season, how about we stop babying them with the double pivot and see how good they really are. And I think Schndeiderlin and Smalling would definitely be up to the task. Also Schneiderlin would have to be the pivot in that formation, in order to he can do his job of shielding the defense.</p>
<p>If not that, I wish van Gaal would at least try playing Herrera alongside Scheiderlin in the double pivot,</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/David28" class="poster" target="_blank">David28</a>





        on <a href="#339613101" class="date">Nov 13, 2015 |  9:23 AM</a>

      <span class="user_actions">

        <a href="#" class="up_link" title="scroll to parent comment">up</a>







          <a href="#" class="reply_link" title="reply to this comment">reply</a>



          <span class="cactions  mod ">






              <a href="#" class="rec_link ">
                rec
                <span class="rec_count">

                    (1)

                </span>
              </a>



              <a href="#" class="flag_link ">
                flag
              </a>

          </span>


      </span>
    </div>


  </div>
</div><div id="339657677" class="citem cdepth-3">
  <div class="comment">


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        I think United would be better with a 4-1-4-1/4-3-3 as well


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>That formation coincided with the best run of form the club had last season, and there are upgrades for some of the positions in that system now.  Schweinsteiger is an upgrade on Fellaini in a lot of areas, and the two could rotate in the left CM spot depending on the needs of the game and the opposition.  Schniederlin is arguably an upgrade on Carrick in that formation due to his much better defense, and if Schweinsteiger is starting you don’t miss Carrick’s creativity like you would if Fellaini started.  Martial is also an upgrade on Rooney in the striker spot.  Young could reprise his role on the left hand side, and Mata would play on the right so he can link up with Herrera and Darmian/Valencia like they did last season.  The only problem with this formation is that Rooney doesn’t have a place in it.  Most fans would agree that Rooney should be dropped/rested for a while, but it seems to be much tougher convincing the manager and the club to do it.</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/CH5279" class="poster" target="_blank">CH5279</a>





        on <a href="#339657677" class="date">Nov 13, 2015 |  1:15 PM</a>

      <span class="user_actions">

        <a href="#" class="up_link" title="scroll to parent comment">up</a>







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div><div id="339687839" class="citem cdepth-4">
  <div class="comment">


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        When did 4-3-3 become 4-1-4-1?


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>The rest of the world saw 4-3-3 lol.</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/Keanedawg_16" class="poster" target="_blank">Keanedawg_16</a>





        on <a href="#339687839" class="date">Nov 13, 2015 |  3:43 PM</a>

      <span class="user_actions">

        <a href="#" class="up_link" title="scroll to parent comment">up</a>







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div><div id="339605205" class="citem cdepth-1">
  <div class="comment">

      <a href="http://www.sbnation.com/users/Wan%20Ihite" target="_blank" class="avatar">
        <img src="https://cdn3.vox-cdn.com/profile_images/1423385/HenryJoseyMizzouFootball_small.jpg" alt="Wan Ihite">
      </a>


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        generally reasonable stuff


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>Though:</p>
<blockquote>The kindest among us would describe Louis van Gaal’s side as "solid" or even "dull."</blockquote>
<p>No, the kindest of us would describe them as "talented and grimly effective".</p>
<p>And the No 10 spot might get a bit crowded if we have Mata and Herrera both play there.</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/Wan%20Ihite" class="poster" target="_blank">Wan Ihite</a>





        on <a href="#339605205" class="date">Nov 13, 2015 |  7:57 AM</a>

      <span class="user_actions">







          <a href="#" class="reply_link" title="reply to this comment">reply</a>



          <span class="cactions  mod ">






              <a href="#" class="rec_link ">
                rec
                <span class="rec_count">

                    (1)

                </span>
              </a>



              <a href="#" class="flag_link ">
                flag
              </a>

          </span>


      </span>
    </div>


  </div>
</div><div id="339688053" class="citem cdepth-2">
  <div class="comment">


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        The kindest me describes our play as...


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>Boring as <span class="caps">FUCK</span>!!</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/Keanedawg_16" class="poster" target="_blank">Keanedawg_16</a>





        on <a href="#339688053" class="date">Nov 13, 2015 |  3:44 PM</a>

      <span class="user_actions">

        <a href="#" class="up_link" title="scroll to parent comment">up</a>







          <a href="#" class="reply_link" title="reply to this comment">reply</a>



          <span class="cactions  mod ">






              <a href="#" class="rec_link ">
                rec
                <span class="rec_count">

                    (1)

                </span>
              </a>



              <a href="#" class="flag_link ">
                flag
              </a>

          </span>


      </span>
    </div>


  </div>
</div><div id="339762001" class="citem cdepth-3 recommended">
  <div class="comment">

      <a href="http://www.sbnation.com/users/Wan%20Ihite" target="_blank" class="avatar">
        <img src="https://cdn3.vox-cdn.com/profile_images/1423385/HenryJoseyMizzouFootball_small.jpg" alt="Wan Ihite">
      </a>


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        indeed. But you are not, as the quote would have it, "the kindest of us". Sweetheart. <img src="//fonts.voxmedia.com/emoji/unicode/1f61b.png" alt=":stuck_out_tongue:" class="emoji">


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">

    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/Wan%20Ihite" class="poster" target="_blank">Wan Ihite</a>





        on <a href="#339762001" class="date">Nov 13, 2015 | 10:25 PM</a>

      <span class="user_actions">

        <a href="#" class="up_link" title="scroll to parent comment">up</a>







          <a href="#" class="reply_link" title="reply to this comment">reply</a>



          <span class="cactions  mod ">






              <a href="#" class="rec_link recommended">
                rec
                <span class="rec_count">

                    (5)

                </span>
              </a>



              <a href="#" class="flag_link ">
                flag
              </a>

          </span>


      </span>
    </div>


  </div>
</div><div id="339619413" class="citem cdepth-1">
  <div class="comment">


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        A 4141 formation with this lineup:


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p><span class="caps">DDG</span><br>
Darmian Smalling Blind Rojo<br>
Schneiderlin<br>
Mata Herrera Rooney(1) Memphis(2)<br>
Martial</p>
<p>It could be worth a shot.<br>
(1) Schweinsteiger would be a better alternative at the moment.<br>
(2) Young if Memphis is still out of form.</p>
<p>But ultimately, I think the 4231 formation fits our current squad better. We have many defensive minded CMs (5 if you include Fellaini and Blind) and many CAMs (Lingard, Mata, Pereira, Herrera). We only have two real wingers in Young and Memphis. We should stick with the attacking midfield 3 which would accomodate our CAMs more.<br>
Besides, there is too much quality in CM to reduce the number of spots in that position to just one starter.</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/Icegaze" class="poster" target="_blank">Icegaze</a>





        on <a href="#339619413" class="date">Nov 13, 2015 | 10:02 AM</a>

      <span class="user_actions">







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div><div id="339638535" class="citem cdepth-1">
  <div class="comment">

      <a href="http://www.sbnation.com/users/JG11" target="_blank" class="avatar">
        <img src="https://cdn0.vox-cdn.com/profile_images/2130358/giggs9798_small.jpg" alt="JG11">
      </a>


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        I think a bit of tactical flexibility would be a breath of fresh air


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>We don’t necessarily have to change our base formation but changes for ‘situations’ should be standard practice. <span class="caps">LVG</span> is reluctant to chase games and everyone at United keeps moaning "they we’re sitting deep theres, nothing we could do… errr? errm philosophy and stuff yeh. "</p>
<p>Rather then fully commiting yourself to this ridged pragmatism. Surely it’s more logical to take some bloody risks. Next time an opposition sits deep make the changes, that’s what subs are for. 4-1-4-1,  4-4-3, 4-4-2 are all dynamic attacking formations that can open up even the most stubborn, deepest and most drilled defences. We’re too predictable for a team that’s Relying on one man for goals.</p>
    </div>


    <div class="meta">

        by <a href="http://www.sbnation.com/users/JG11" class="poster" target="_blank">JG11</a>





        on <a href="#339638535" class="date">Nov 13, 2015 | 11:40 AM</a>

      <span class="user_actions">







          <a href="#" class="reply_link" title="reply to this comment">reply</a>



          <span class="cactions  mod ">






              <a href="#" class="rec_link ">
                rec
                <span class="rec_count">

                    (1)

                </span>
              </a>



              <a href="#" class="flag_link ">
                flag
              </a>

          </span>


      </span>
    </div>


  </div>
</div><div id="339689331" class="citem cdepth-2">
  <div class="comment">


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        Well said JG


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>I remember a time that when a team came to OT to just defend it was music to our ears, we’d wear them down, passing well, switching flank to flank, runners from midfield &amp; wide until invariably we’d stick 3 – 4 past them. Now our team lacks balls, daring do, &amp; are too cautious, we need the old United back!!</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/Keanedawg_16" class="poster" target="_blank">Keanedawg_16</a>





        on <a href="#339689331" class="date">Nov 13, 2015 |  3:51 PM</a>

      <span class="user_actions">

        <a href="#" class="up_link" title="scroll to parent comment">up</a>







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div><div id="339689821" class="citem cdepth-3">
  <div class="comment">


    <h2 class="title collapse_toggle no_content">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        <span class="collapsed_indicator">comment collapsed</span>


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>Leicester won 5-3 so until we have ,4 Franco Baresis in the backline we’re going to play it safe.</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/K23" class="poster" target="_blank">K23</a>





        on <a href="#339689821" class="date">Nov 13, 2015 |  3:53 PM</a>

      <span class="user_actions">

        <a href="#" class="up_link" title="scroll to parent comment">up</a>







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div><div id="339695141" class="citem cdepth-4">
  <div class="comment">


    <h2 class="title collapse_toggle no_content">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        <span class="collapsed_indicator">comment collapsed</span>


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>Oh Leicester 5-3, oh god, let’s never attack again eh? During the glory days I remember results like 6-3 loss at Southampton, 5-0 loss at Newcastle, 3-1 loss at home to Fulham etc,did our balls fall off &amp; we turn into a boring negative side? No. I also can recall results like 3-0 down to a 5-3 win at Spurs, 8-1 away to Forest, 9-0 at home to Ipswich, I could go on… The fact is one game doesn’t define United or an entire season, and the other depressing fact is that we’re unduly cautious &amp; imo won’t play good football til our idiot manager is sacked.</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/Keanedawg_16" class="poster" target="_blank">Keanedawg_16</a>





        on <a href="#339695141" class="date">Nov 13, 2015 |  4:25 PM</a>

      <span class="user_actions">

        <a href="#" class="up_link" title="scroll to parent comment">up</a>







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div><div id="339685139" class="citem cdepth-1">
  <div class="comment">

      <a href="http://www.sbnation.com/users/Winning%20XI" target="_blank" class="avatar">
        <img src="https://cdn2.vox-cdn.com/profile_images/3287808/BmPTW-PCIAAMpKc_small.jpg" alt="Winning XI">
      </a>


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        Nobody seems to use 4-4-2 these days


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>I’ve only seen Rafa’s Madrid using it. It seems like a dying formation nowadays, because 4-2-3-1 is the new 4-4-2.</p>
    </div>





    <div class="meta">

        by <a href="http://www.sbnation.com/users/Winning%20XI" class="poster" target="_blank">Winning XI</a>





        on <a href="#339685139" class="date">Nov 13, 2015 |  3:29 PM</a>

      <span class="user_actions">







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div><div id="339756551" class="citem cdepth-2">
  <div class="comment">


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        It's because coaches are obsessed with shielding their defense


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>plus it provides a very good base to launch a counter attack from, but yeah I don’t like it, especially for United.</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/David28" class="poster" target="_blank">David28</a>





        on <a href="#339756551" class="date">Nov 13, 2015 |  9:59 PM</a>

      <span class="user_actions">

        <a href="#" class="up_link" title="scroll to parent comment">up</a>







          <a href="#" class="reply_link" title="reply to this comment">reply</a>



          <span class="cactions  mod ">






              <a href="#" class="rec_link ">
                rec
                <span class="rec_count">

                    (1)

                </span>
              </a>



              <a href="#" class="flag_link ">
                flag
              </a>

          </span>


      </span>
    </div>


  </div>
</div><div id="339788411" class="citem cdepth-3">
  <div class="comment">

      <a href="http://www.sbnation.com/users/Winning%20XI" target="_blank" class="avatar">
        <img src="https://cdn2.vox-cdn.com/profile_images/3287808/BmPTW-PCIAAMpKc_small.jpg" alt="Winning XI">
      </a>


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        This might come off as dumb but...


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>Would a 4-3-3 be a solution to unlock defenses in a 4-2-3-1? With three forwards up front, it’s also really good on the counter-attack, I’m taking it as well? 4-1-4-1 looks even like a modified 4-3-3, and I often mistaken it as well.</p>
    </div>





    <div class="meta">

        by <a href="http://www.sbnation.com/users/Winning%20XI" class="poster" target="_blank">Winning XI</a>





        on <a href="#339788411" class="date">Nov 14, 2015 |  5:59 AM</a>

      <span class="user_actions">

        <a href="#" class="up_link" title="scroll to parent comment">up</a>







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div><div id="339799851" class="citem cdepth-4">
  <div class="comment">


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        I think switching to 4-3-3 or 4-1-4-1 is worth a try


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>It allows for more men further forward, and I guess in essence they are a modified version of each other, as in the 4-1-4-1  the flanks are bushed back further and are midfielders instead of forwards.</p>
<p>I am a fan of the 4-3-3, single pivot variation.  Just look at the great "possession" teams of Pep, he has mostly employed the 4-3-3 at Barcelona along with Munich, and the Del Bosque uses the 4-3-3 as well for his possession game.</p>
<p>Hopefully the formation switch would open up more space and allow for more movement. Because that’s what will make the "possession" game more effective, movement and quicker passing.</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/David28" class="poster" target="_blank">David28</a>





        on <a href="#339799851" class="date">Nov 14, 2015 | 11:21 AM</a>

      <span class="user_actions">

        <a href="#" class="up_link" title="scroll to parent comment">up</a>







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div><div id="339716407" class="citem cdepth-1">
  <div class="comment">

      <a href="http://www.sbnation.com/users/jrp95" target="_blank" class="avatar">
        <img src="https://cdn2.vox-cdn.com/profile_images/1627893/zlatan-ibrahimovic_small.jpg" alt="jrp95">
      </a>


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        Mata


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>Yeah, I don’t understand LVG’s use (or lack there of) when it comes to Juan.</p>
<p>Bin Rooney and let the Spanish boys do their Spanish thing in the final 3rd.</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/jrp95" class="poster" target="_blank">jrp95</a>





        on <a href="#339716407" class="date">Nov 13, 2015 |  7:00 PM</a>

      <span class="user_actions">







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div><div id="339790093" class="citem cdepth-1">
  <div class="comment">

      <a href="http://www.sbnation.com/users/PhilipJSparrow" target="_blank" class="avatar">
        <img src="https://cdn3.vox-cdn.com/profile_images/1164057/d56a5a5ca5de2633887b0d8173449ca7_normal_small.jpeg" alt="PhilipJSparrow">
      </a>


    <h2 class="title collapse_toggle ">
      <span class="collapse_toggle collapse_toggle_button"><span class="ss-icon"></span></span>


        Not sure about Herrera at 10


      <span class="reply_count"></span>
    </h2>

    <div class="cbody">
      <p>His main attacking strength is his ability to make runs from deep, and that can get a little blunted when he’s too far forward. Better to play him deeper, in a midfield two with a more defensive player – Schneiderlin being the obvious choice.</p>
    </div>



    <div class="meta">

        by <a href="http://www.sbnation.com/users/PhilipJSparrow" class="poster" target="_blank">PhilipJSparrow</a>





        on <a href="#339790093" class="date">Nov 14, 2015 |  7:57 AM</a>

      <span class="user_actions">







          <a href="#" class="reply_link" title="reply to this comment">reply</a>




      </span>
    </div>


  </div>
</div></div><div>
</div>

</section>