$m: '.m-body';

#{$m} {
  font-family: Georgia, serif;
  margin-top: 20px;
  .hed{
  	font-size: 30px;
  }
  .subhed{
  	font-weight: 700;
  	margin-bottom: 5px;
  	margin-top: 25px;
  }

  .article-content {
  	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  	font-weight: 200;
  	max-width: 100%;
  	position: relative;
  	padding-left: 0px;
  	font-size: 20px;
  	background-color: #fff;
	}

	h2 {
	  margin-top: 40px;
	  font-weight: 200;
	  color: #333;
	}

	.centered-text {
	  text-align: center;
	}

	.quote-marks {
	  font-size: 100px;
	  font-family: Garamond;
	  color: #777;
	}

	.move-right {
	  position: relative;
	  text-align: right;
	}

	.quote {
	  border-radius: 5px;
	  p {
	    font-weight: 300;
	  }
	  padding-left: 30px;
	  padding-top: 20px;
	}

	@media only screen and (max-width: 40em) {
	  .quote p {
	    padding-left: 20px;
	  }
	}

	.student {
	  margin-left: 25px;
	  margin-bottom: 25px;
	  .photo {
	    background-color: #ccc;
	    border-radius: 100px;
	    width: 70px;
	    height: 70px;
	    float: left;
	    margin-right: 15px;
	  }
	  p {
	    position: relative;
	    top: 5px;
	    &:nth-child(2) {
	      font-size: 16px;
	      font-weight: 500;
	      margin-bottom: 0;
	    }
	    &:nth-child(3) {
	      font-size: 14px;
	      font-weight: 400;
	      color: #777;
	    }
	  }
	}

	.testimonial-wrap {
	  float: right;
	  max-width: 350px;
	  padding-left: 10px;
	  padding-top: 10px;
	}

	.join{
		padding-right: 10px;
		font-weight: 700;
		display: inline-block;
	}

	.comment-button{
		background-color: yellow;
		width: 30px;
		height: 30px;
		border-radius: 100px;
		display: inline-block;
		position: absolute;
		i {
			color: #777;
			font-size: 1.25rem;
			margin-left: 8px;
		}
	}
}
