$m: '.m-comments';

#{$m} {
  font-family: Georgia, serif;
  font-size: 1rem;

  .sub-nav{
    background-color: #f2f2f2;
    padding: 10px 10px 10px 0;
    width: 50%;
    float: left;
  }

  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }

  &__item {
    border-bottom: 1px solid #CCC;
    padding: 20px 0;
    position: relative;

    &.cdepth-2 {
      margin-left: 40px;
      .rank & {
        margin-left: 0;
      }
    }

    &.cdepth-3 {
      margin-left: 80px;
      .rank & {
        margin-left: 0;
      }
    }
  }

  &__item-meta {
    position: relative;
    padding-left: 40px;
  }

  &__trophy {
    border-radius: 3px;
    bottom: 10px;
    display: block;
    font-family: sans-serif;
    position: absolute;
    right: 0;
    border: 1px solid #CCC;
    padding: 5px 5px 0 5px;
    width: 75px;

    svg {
      width: 20px;
      height: 20px;
      fill: #CCC;
    }
    &.active svg {
      fill: #EBC426;
    }
  }

  &__trophy-count {
    display: block;
    float: right;
    margin-left: 10px;
    text-align: right;
  }

  // AVATARS
  i.icon {
    display: block;
    width: 32px;
    height: 32px;
    background: #ebebeb;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -16px;
  }

  i.icon::before {
    content: "";
    display: block;
    background: #c2c2c2;
    width: 10px;
    height: 10px;
    border-radius: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: 5px;
  }
  i.icon::after {
    content: "";
    display: block;
    background: #c2c2c2;
    width: 20px;
    height: 10px;
    border-radius: 1000px 1000px 0 0;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 15px;
  }

}

#{$m}__form {
  padding: 20px;
  margin-top: 20px;
  textarea {
    height: 140px;
  }
}

#{$m}__rank-slider {
  background: #EEE;
  border:1px solid #CCC;
  border-radius: 3px;
  visibility: hidden;
  font-family: sans-serif;
  padding: 10px;
  width: 30%;
  float: left;
  margin-top: -35px;
  margin-left: 20px;

  .admin &.active {
    visibility: visible;
  }

  input {
    max-width: 60px;
    float: left;
  }
}
