$m: '.m-comments';

#{$m} {
  font-family: Georgia, serif;
  font-size: 1rem;

  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }

  &__item {
    border-bottom: 1px solid #CCC;
    padding: 20px 0;
    position: relative;


  }

  &__item-meta {
    position: relative;
    padding-left: 40px;
  }

  i.icon {
  display: block;
  width: 32px;
  height: 32px;
  background: #ebebeb;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -16px;
}

i.icon::before {
  content: "";
  display: block;
  background: #c2c2c2;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 5px;
}
i.icon::after {
  content: "";
  display: block;
  background: #c2c2c2;
  width: 20px;
  height: 10px;
  border-radius: 1000px 1000px 0 0;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 15px;
}

}

